<v-app>
    <app-download video-id="{{videoId}}"></app-download>
</v-app>

{{#section 'head_css'}}
<link href="{{context-path}}/public/css/styles.css" rel="stylesheet">
{{/section}}

{{#section 'body_js'}}
{{!-- Load The Fetch Polyfill --}}
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.4/fetch.min.js"></script>

<script src="{{context-path}}/public/js/Youtube.js"></script>
<script src="{{context-path}}/public/js/Progress.js"></script>
<script src="{{context-path}}/public/js/AppDownload.js"></script>

<script>
    new Vue({
        el: '#app',
        components: {
            'app-download': AppDownload,
        },
    });
</script>

{{/section}}