<v-app>
    <app-list :list="{{toJSON list}}" title="Listing items in {{capitalize folder}}"></app-list>
    <Snackbar global></Snackbar>
</v-app>

{{#section 'head_css'}}
<link href="{{context-path}}/public/css/styles.css" rel="stylesheet">
{{/section}}

{{#section 'body_js'}}
{{!-- Load The Fetch Polyfill --}}
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.4/fetch.min.js"></script>

<script src="{{context-path}}/public/js/Snackbar.js"></script>
<script src="{{context-path}}/public/js/List.js"></script>
<script src="{{context-path}}/public/js/AppList.js"></script>

<script>
    new Vue({
        el: '#app',
        components: {
            'app-list': AppList,
        },
    });
</script>

{{/section}}